<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
      <add key="Auth0:ClientId" value="05KdsCcVAlAekNv6JGk0nA2y1da4hWfm" />
      <add key="Auth0:ClientSecret" value="4npEIJ7bqEf8jqJwNGp5u5ZYK1ubJI7vKuL6Tw38VyxmAao6aIAp-B82plTMC97i" />
      <add key="UtgUrl" value="https://localhost:44381/api" />
      <add key="ProcessorName" value="mercadopago" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>